### 주가 데이터
- 기술적 분석:

        가격과 거래량이 중요하며, 거래일 기준으로 시가, 고가, 저가, 종가, 거래량 등의 데이터가 사용됨

- 기본적 분석 (기업의 내재적 가치를 분석해서 주가를 예측):

        최근 몇 년 치의 기업 재무실적이나 PER, PBR, ROE 같은 기본적인 투자 지표에 대한 데이터가 사용됨

### 틱 데이터
데이터의 양이 많기 때문에 최근 거래일부터 일정 기간 동안의 데이터만 제공합니다.

### SQLite
SQLite을 통해 DBMS 사용법을 익힌 후 개발하려는 시스템의 규모에 따라 PostgreSQL, MYSQL 등을 사용하는 것을 추천

In [3]:
import sqlite3
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.38.3

In [9]:
con = sqlite3.connect("kiwoom.db")
type(con)

sqlite3.Connection

sql 명령어를 호출하려면, cursor이라는 객체가 필요

In [10]:
cursor = con.cursor()

In [17]:
cursor.execute("DROP TABLE kakao")
cursor.execute("CREATE TABLE kakao(Date text, Open int, High int, Low int, Closing int, Volumn int)")
cursor.execute("INSERT INTO kakao VALUES('16.06.03', 97000, 98600, 96900, 98000, 321405)")
cursor.execute("INSERT INTO kakao VALUES('16.06.02', 99000, 99300, 96300, 97500, 556790)")

In [21]:
# 작업한 내용을 실제로 데이터베이스에 반영
con.commit()
# DB 연결을 닫음
con.close()

In [23]:
con = sqlite3.connect("kiwoom.db")
cursor = con.cursor()

In [29]:
cursor.execute("SELECT * FROM kakao")

In [25]:
cursor.fetchone()

('16.06.03', 97000, 98600, 96900, 98000, 321405)

In [26]:
cursor.fetchone()

('16.06.02', 99000, 99300, 96300, 97500, 556790)

In [27]:
cursor.fetchone()

In [33]:
cursor.execute("SELECT * FROM kakao")
kakao = cursor.fetchall()

In [34]:
kakao

[('16.06.03', 97000, 98600, 96900, 98000, 321405),
 ('16.06.02', 99000, 99300, 96300, 97500, 556790)]